<!-- Page header title -->
<div class="col-xs-6 col-sm-4">
	<h1>Cost Calculator</h1>
</div>

<!-- Login welcome box -->
<div class="col-xs-6 col-sm-8">
	<div class="row log-in_box">
		<div class="form-group">
			<div class="col-xs-offset-8 col-xs-2">
				<button id="log-in_btn" class="btn btn-primary hidden">Login/Signup</button> 
			</div>
			<div class="col-xs-offset-8 col-xs-4 log-out_box">
				<div class="row">
					<button id="log-out_btn" class="btn btn-link hidden">Logout</button>
				</div>
				<div class="row">
					<div id="display-name"></div> 
				</div>
			</div>
		</div>
	</div>
</div>